@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* tablet*/

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Questrial", sans-serif;

    }


    .container {
        max-width: 1280px;
        margin: auto;


    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header {
        width: 100%;
        padding: 0px 1%;
        position: fixed;
        top: 0;
        left: 0;
        transition: 1s;
        z-index: 9999;

    }

    .logo2 {
        object-fit: cover;
        width: 200px;
        height: 100px;

    }

    header ul {
        list-style-type: none;



    }

    header ul li {
        display: inline-block;
        margin: 0px 20px;


    }

    header ul li a {
        color: #ffffff;
        text-decoration: none;
        transition: 0.5s;
    }

    header ul li a:hover {
        color: #FA4616;
        cursor: pointer;

    }

    .bnt-contato button {
        width: 100px;
        height: 40px;
        border: 0;
        background-color: #FA4616;
        color: rgb(0, 0, 0);
        cursor: pointer;
        transition: .2s;
        border-radius: 15px;
        box-shadow: 2px 2px 10px black;
    }

    .bnt-contato button:hover {
        color: #000000;
        background-color: #FA4616;
        transform: scale(1.1);
        transition: 0.5s;
    }




    .banner {
        height: 100vh;
        background-image: url(imagens/banner\ 2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;



        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
        filter: blur(15px);
        transform: translateY(20px);
        transition: all 1s ease;
    }

    .banner.show {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }







    .banner h1 {

        font-size: 2.6em;
        color: white;
        padding: 30px;
    }

    .banner h1 span {
        color: #67dffa;
    }



    .rolagem {
        width: 100%;
        margin-top: -40px;
        z-index: 9999;

    }


    header.rolagem {
        background-image: linear-gradient(to right, #004858);
        padding: 0px 2%;
        height: 105px;


    }

    header.rolagem a {
        position: static;
        padding: 20px 0%;
        color: white;
        font-size: 0.9em;
    }

    section {
        height: calc(100vh + 10px);
        padding-top: 80px;





    }



    .texto {
        flex: 1;



        max-width: 100%;
        padding-left: 2%;
    }

    section h2 {
        color: #004858;
        font-size: 2em;
        margin-bottom: 2%;

        display: flex;
        align-items: center;
        justify-content: start;
    }

    section p {
        font-size: 1.1em;
        line-height: 1.6em;



    }

    .imagem {
        flex: 1;
        padding-top: 4%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .imagem img {
        object-fit: cover;
        width: 95%;
        height: 100%;

        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.274);

    }



    #quem-somos {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        padding-bottom: 100%;

    }




    #quem-somos .texto {
        order: 0;
    }

    #quem-somos .imagem {
        order: 1;
    }

    #quem-somos .bloco-extra {
        order: 2;
    }

    #quem-somos .texto11 {
        width: 97%;
        margin-top: 5%;
    }





    .texto11 {
        display: flex;
        align-items: center;
        justify-content: start;



        border-top: 1px solid #FA4616;
        border-bottom: 1px solid #FA4616;
        padding-top: 2%;
        padding-bottom: 2%;

    }

    .texto11 .p11 {

        width: 95%;
        max-width: 95%;
        font-size: 1.2em;
        line-height: 1.6em;
        text-align: left;



    }

    .impact-grid {
        position: relative;
        width: 95%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%;
        margin-top: 2%;
        padding-left: 5%;
        
    }

    .impact-card {
        position: relative;
        background: rgb(255, 255, 255);
        padding: 1.5rem;
        margin: 2%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.308);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        overflow: visible;
         padding-bottom: 0%;
       

    }

    .impact-card.show:hover {
        transform: scale(1.08);
        /* aumenta suavemente */
        box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.45);
        transition: transform 0.4s ease, box-shadow 0.4s ease;
    }

    .corner {
        position: absolute;
        width: 15%;
        height: 15%;
        border: 3px solid #004858;
        transition: all 0.3s ease;
         
    }

    .corner.top-left {
        top: 0px;
        left: 0px;
        border-right: none;
        border-bottom: none;
    }

    .corner.top-right {
        top: 0px;
        right: 0px;
        border-left: none;
        border-bottom: none;
    }

    .corner.bottom-left {
        bottom: 0px;
        left: 0px;
        border-right: none;
        border-top: none;
    }

    .corner.bottom-right {
        bottom: 0px;
        right: 0px;
        border-left: none;
        border-top: none;
    }

    .impact-card:hover .corner.top-left {
        top: -10px;
        left: -10px;
    }

    .impact-card:hover .corner.top-right {
        top: -10px;
        right: -10px;
    }

    .impact-card:hover .corner.bottom-left {
        bottom: -10px;
        left: -10px;
    }

    .impact-card:hover .corner.bottom-right {
        bottom: -10px;
        right: -10px;
    }





    .impact-section h2 {
        font-size: 2em;
        margin-bottom: 1%;
        font-weight: bolder;
        color: #004858;
        padding-left: 5%;
    }

    .impact-section h3 {
        font-size: 1.8em;
        margin-bottom: 1%;
        font-weight: bolder;
        color: #004858;
        padding-left: 1%;
    }

    .impact-section p {
        font-size: 1.1em;
        line-height: 1.6em;
        width: 100%;
        height: auto;
        color: black;
        padding-left: 5%;
    }

    .impact-section ul li {
        font-size: 1.1em;
        line-height: 1.6em;
        width: 100%;
        height: auto;
        color: black;
        padding-left: 1%;

    }

    /* Estilos para animação dos slides na seção #o-que-fazemos */
    #o-que-fazemos {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-image: url(imagens/entrada\ 3.jpg);
        color: rgb(255, 255, 255);
        padding: 0;
    }


    #o-que-fazemos .container-slider {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    #o-que-fazemos .slides {
        position: absolute;
        width: 100%;
        height: 100vh;
    }

    #o-que-fazemos .slide {
        position: absolute;
        top: 65%;
        left: 50%;
        width: 90vw;
        max-width: 90%;
        height: 100vh;
        transform: translate(-50%, -50%);
        opacity: 0;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        color: white;
    }

    #o-que-fazemos .slide-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2%;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background-color: #000000;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }


    #o-que-fazemos .slide:nth-child(even) .slide-content {
        flex-direction: row-reverse;

    }

    #o-que-fazemos .img4 {
        border-top-right-radius: 50px;
        border-top-left-radius: 0px;
    }

    #o-que-fazemos .img3 {
        border-top-left-radius: 50px;
        border-top-right-radius: 0px;
    }

    #o-que-fazemos .img5 {
        border-top-left-radius: 50px;
        border-top-right-radius: 0px;
    }

    #o-que-fazemos .img6 {
        border-top-right-radius: 50px;
        border-top-left-radius: 0px;
    }

    #o-que-fazemos .img7 {
        border-top-left-radius: 50px;
        border-top-right-radius: 0px;
    }




    #o-que-fazemos .slide img {
        flex: 0 0 50%;
        width: 50%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 0;
        display: block;
        opacity: 0;
        transform: translateY(50px);
    }

    #o-que-fazemos .texto-slide {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: left;
        padding-left: 4%;
        align-items: start;
        transform: translateY(50px);
        opacity: 0;

    }


    #o-que-fazemos .texto-slide h2 {
        margin: 0 0 15px;
        font-size: 2rem;
        color: #ffffff;
        padding-top: 80px;


    }

    #o-que-fazemos .texto-slide p {
        margin: 0;
        font-size: 1.2rem;
        color: #ccc;


    }

    #o-que-fazemos .nav-btn {
        display: none !important;
    }



    .hidden {
        opacity: 0;
        filter: blur(15px);
        transform: translateX(-100%);
        transition: all 0.5s;

    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
        transition: all 0.5s;
    }










}












@media screen and (min-width: 1025px) {

    /*desktop*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Questrial", sans-serif;

    }

    html,
    body {
        overflow-x: hidden;
        max-width: 100%;
    }






    .container {
        max-width: 95%;
        margin: auto;


    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;


    }

    header {
        width: 100%;
        padding: 10px 1%;
        position: fixed;
        top: 0;
        left: 0;
        transition: 1s;
        z-index: 9999;
    }


    .logo2 {
        object-fit: cover;
        width: 220px;
        height: 100px;


    }

    header ul {
        list-style-type: none;




    }

    header ul li {
        display: inline-flex;
        margin: 0px 30px;




    }





    header ul li a {
        font-family: "Questrial", sans-serif;
        color: #ffffff;
        text-decoration: none;
        transition: 0.5s;

    }

    header ul li a:hover {
        color: #FA4616;
        cursor: pointer;

    }


    .bnt-contato button {
        font-family: "Questrial", sans-serif;
        position: static;
        width: 120px;
        height: 40px;
        border: 0;
        background-color: #FA4616;
        color: rgb(0, 0, 0);
        cursor: pointer;
        transition: .2s;
        border-radius: 15px;
        box-shadow: 2px 2px 10px rgb(0, 0, 0);


    }

    .bnt-contato button:hover {
        color: aliceblue;
        background-color: #FA4616;
        transform: scale(1.2);
        transition: 0.5s;
    }




    .banner {
        width: 100%;
        height: 100vh;
        min-height: 50vh;
        background-image: url(imagens/banner\ 2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        position: relative;



        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1vw;
        font-weight: bold;
        text-transform: uppercase;




        opacity: 0;
        filter: blur(15px);
        transform: translateY(20px);
        transition: all 1s;

    }






    .banner.show {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
        transition: all 1s;
    }



    #titulo {
        font-size: 1.4rem;
        color: #ffffff;
        white-space: pre-wrap;
        font-family: "Questrial", sans-serif;
    }

    .destaque {
        color: #27B1CA;
        font-weight: 700;


    }




    .rolagem {
        width: 100%;
        margin-top: -25px;

    }


    header.rolagem {
        background-image: linear-gradient(45deg, #004858);
        width: 100%;
        padding: 0px 1%;
        height: 80px;
        z-index: 9999;



    }


    header.rolagem a {
        padding: 0px 0%;
        color: #edfeec;
        font-size: 0.9;


    }




    section {
        height: calc(100vh + 10px);
        padding-top: 100px;





    }

  

    section .t1 {
        font-size: 2em;
        margin-bottom: 5%;
        font-weight: bolder;
        color: #004858;
        padding-left: 7%;





    }

    section .p1 {
        font-size: 1.1em;
        line-height: 1.6em;
        width: 100%;
        height: auto;
        color: black;
          padding-left: 7%;

        




    }

    .imagem {
        flex: 0 0 50%;
        padding-right: 3%;

        display: flex;
        justify-content: flex-end;





    }

    .imagem img {
        width: 100%;
        object-fit: cover;
        height: 85vh;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.274);

    }



    #quem-somos {
        min-height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2%;
        

    }

    #quem-somos .intro {
        display: flex;
        flex-direction: column;


    }

    #quem-somos .texto {
        flex: 0 0 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2em;
        line-height: 1.6em;
        gap: 1.5rem;
        color: #004858;
        
    }

    #quem-somos .bloco-extra {
        position: relative;
        display: inline-block;
        width: 87%;
        padding-left: 7%;







        border-top: 1px solid #FA4616;
        border-right: 1px solid #FA4616;
        border-bottom: 1px solid #FA4616;
        transition: opacity 1s ease, transform 2s ease, box-shadow 1s ease;
    }

    #quem-somos .bloco-extra:hover {
        transform: scale(1.1);
        box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.45);
        transition: transform 0.4s ease, box-shadow 0.4s ease;
    }



    #quem-somos .texto11 .p11 {

        width: 80%;
        max-width: 100%;
        font-size: 1.2em;
        line-height: 1.6em;
        text-align: left;


    }











    .impact-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%;
        margin-top: 2%;

    }

    .impact-card {
        position: relative;
        background: white;
        padding: 1.5rem;
        margin: 2%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.308);
        overflow: visible;


        transform: translateX(80px) scale(1);
        opacity: 0;
        transition: opacity 1s ease, transform 2s ease, box-shadow 1s ease;
    }






    .impact-card.show:hover {
        transform: scale(1.08);
        /* aumenta suavemente */
        box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.45);
        transition: transform 0.4s ease, box-shadow 0.4s ease;
    }

    .impact-card.left {
        transform: translateX(-100px) scale(1);
    }

    .impact-card.right {
        transform: translateX(100px) scale(1);
    }

    .impact-card.show {
        opacity: 1;
        transform: translateX(0) scale(1);
    }






    .corner {
        position: absolute;
        width: 5%;
        height: 100%;
        border: 3px solid #004858;
        transition: all 0.3s ease;
    }

    .corner.top-left {
        top: 0px;
        left: 0px;
        border-right: none;
        border-bottom: none;
    }

    .corner.top-right {
        top: 0px;
        right: 0px;
        border-left: none;
        border-bottom: none;
    }

    .corner.bottom-left {
        bottom: 0px;
        left: 0px;
        border-right: none;
        border-top: none;
    }

    .corner.bottom-right {
        bottom: 0px;
        right: 0px;
        border-left: none;
        border-top: none;
    }

    .impact-card:hover .corner.top-left {
        top: -10px;
        left: -10px;
    }

    .impact-card:hover .corner.top-right {
        top: -10px;
        right: -10px;
    }

    .impact-card:hover .corner.bottom-left {
        bottom: -10px;
        left: -10px;
    }

    .impact-card:hover .corner.bottom-right {
        bottom: -10px;
        right: -10px;
    }







    .impact-section h2 {
        font-size: 2em;
        margin-bottom: 1%;
        font-weight: bolder;
        color: #004858;
        padding-left: 1%;
    }

    .impact-section h3 {
        font-size: 1.8em;
        margin-bottom: 1%;
        font-weight: bolder;
        color: #004858;
        padding-left: 1%;
    }

    .impact-section p {
        font-size: 1.2em;
        line-height: 1.6em;
        width: 100%;
        height: auto;
        color: black;
        padding-left: 1%;
    }

    .impact-section ul li {
        font-size: 1.2em;
        line-height: 1.6em;
        width: 100%;
        height: auto;
        color: black;
        padding-left: 1%;

    }










    /* Estilos para animação dos slides na seção #o-que-fazemos */
    #o-que-fazemos {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-image: url(imagens/entrada\ 3.jpg);
        object-fit: contain;
        color: rgb(255, 255, 255);
        padding: 0;
    }


    #o-que-fazemos .container-slider {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    #o-que-fazemos .slides {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    #o-que-fazemos .slide {
        position: absolute;
        top: 10%;
        left: 50%;
        width: 92vw;
        max-width: 100%;
        height: 90vh;
        transform: translate(-50%, -50%) translateY(50%);
        opacity: 0;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
    }

    #o-que-fazemos .slide-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background-color: #000000;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
    }


    #o-que-fazemos .slide:nth-child(even) .slide-content {
        flex-direction: row-reverse;

    }

    #o-que-fazemos .img4 {
        border-top-right-radius: 60px;
        border-top-left-radius: 0px;
    }

    #o-que-fazemos .img3 {
        border-top-left-radius: 60px;
        border-top-right-radius: 0px;
    }

    #o-que-fazemos .img5 {
        border-top-left-radius: 60px;
        border-top-right-radius: 0px;
    }

    #o-que-fazemos .img6 {
        border-top-right-radius: 60px;
        border-top-left-radius: 0px;
    }

    #o-que-fazemos .img7 {
        border-top-left-radius: 60px;
        border-top-right-radius: 0px;
    }




    #o-que-fazemos .slide img {
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 0;
        display: block;
        opacity: 0;
        transform: translateY(5%);
    }

    #o-que-fazemos .texto-slide {
        flex: 1 1 50%;
        min-width: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: left;
        align-items: start;
        transform: translateY(5%);
        opacity: 0;

    }


    #o-que-fazemos .texto-slide h2 {
        margin: 0 0 5%;
        font-size: 2rem;
        color: #ffffff;
        padding-top: 12%;
        padding-left: 6%;

    }

    #o-que-fazemos .texto-slide p {
        margin: 0;
        font-size: 1.2rem;
        color: #ccc;
        padding-left: 6%;
        padding-right: 6%;

    }

    #o-que-fazemos .nav-btn {
        display: none !important;
    }


    #o-que-fazemos #slide1 {
        background-color: #000000;

    }

    #o-que-fazemos #slide1 p {
        color: #ffffff;
    }

    #o-que-fazemos #slide1 h2 {
        color: #ffffff;
    }



    #o-que-fazemos #slide2 {
        background-color: #000000;

    }

    #o-que-fazemos #slide2 p {
        color: #ffffff;
    }

    #o-que-fazemos #slide2 h2 {
        color: #ffffff;
    }




    #o-que-fazemos #slide3 {
        background-color: #f7f7f7;

    }

    #o-que-fazemos #slide3 p {
        color: #004858;
    }

    #o-que-fazemos #slide3 h2 {
        color: #000000;
    }


    #o-que-fazemos #slide4 {
        background-color: #f7f7f7;

    }

    #o-que-fazemos #slide4 p {
        color: #004858;
    }

    #o-que-fazemos #slide4 h2 {
        color: #000000;
    }



    #o-que-fazemos #slide5 {
        background-color: #000000;

    }

    #o-que-fazemos #slide5 p {
        background-image: linear-gradient(to right, #dfbbee, #bbdeee);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        display: inline-block;

    }

    #o-que-fazemos #slide5 h2 {
        color: #ffffff;
    }





























}