@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

html{
    height: 500vh;
   background-color: #67dffa;
}

.menu-btn{
    display: none;
    background: none;
    border: 0;
    position: fixed;
    z-index: 1100;
}

.mobile-cta{
display: none;
background: none;
border: 0;
}

/*paleta
#67dffa
#96f5f9
#bdfcfa
#edfeec
*/





@media screen  and (max-width: 768px){

    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }

.flex{

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  
}
.flex > a { 
    margin-left: auto;
  }

.container{
    max-width: 1200px;
    margin: auto;
}

.menu-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 64px;
    cursor: pointer;
    position: static;
    margin-right: 0;
}



.mobile-cta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    width: 44px;
    height: 44px;
    cursor: pointer;
}



.menu-btn .material-symbols-outlined{
    font-size: 42px;
    color: #fff;
    padding-top: 10px;
    
    
  
}

.bnt-contato{
    display: none;
}
 
#nav{
    position: fixed;
    top: 0;
    left: -250px; /* escondido à direita */
    width: 160px;
    height: 100%;
    background: rgb(61, 61, 61);
    transition: left 0.3s ease;
    z-index: 1000;
    padding-top: 60px;
    order: 3;
}

#nav.open{
    left: 0;
}

#nav .nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    list-style: none;
    padding: 0 20px;
}

#nav .nav-list li {
    margin: 0;
    padding-top: 20px;
}


#nav .nav-list a{
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

#nav .nav-list a:hover{
    color: rgb(100, 100, 100);
cursor: pointer;color: rgb(100, 100, 100);
cursor: pointer;

}

#nav .nav-list .mobile-cta .btn-mobile{
    display: inline-block;
    padding: 12px 20px;
    border-radius: 12px;
    background: #96f5f9;
    color: #000000;
    font-weight: bold;
    transition: .2s;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}
#nav .nav-list .mobile-cta .btn-mobile:hover{

    color: white;
    background-color: rgb(0, 90, 90);
     transform: scale(1.1);
    transition: 0.5s;
}


.banner{
    background-image: url(imagens/ajuda.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo2{
    object-fit: cover;
    width: 200px;
    height: 70px;
    order: 1;
    margin-left: auto;
}

header{
    width: 100%;
    padding: 5px 1%;
    position: fixed;
    flex-direction:column;
    top: 0;
    left: 0px;
    transition: 1s;
}




header.rolagem{
   /* background-image: linear-gradient(to top right, #96f5f9, #bdfcfa, #edfeec);*/

     background: rgba(255, 255, 255, 0.1);
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
     box-shadow: 0 10px 10px rgba(255, 255, 255, 0.11);


     width: 100%;
     padding: 1px 2%;
     height: 90px;
     animation: moverGradient 5s ease infinite;
     background-size: 400% 400%;
}

@keyframes moverGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header.rolagem a{
     padding: 10px 1%;
     color: rgb(255, 255, 255);
}


.banner h1{
    font-size: 2.2em;
    color: #edfeec;
    padding: 30px;
}

.banner h1 span{
    color:#96f5f9 ;
}

section{
    height: calc(100vh + 130px);
    padding-top: 130px;
    

    display: flex;
    justify-content: center;

}

 
}
    









