@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo2{
    object-fit: cover;
    width: 300px;
    height: 100px;
}

html{
    height: 500vh;
    background-color: aqua;
}

.material-icons{
    display: none;
   
}

.hamburguer{
    display: none;
    
}







